
<section class="mt-5"> 

  <div class="card bg-light  p-3">
    <h1>New tweet</h1>
      <div class="card-body">
        <%= render "form", tweet: @tweet %>
      </div>
  </div>


  <br>

  <div>
    <%= link_to "Back to tweets", tweets_path %>
  </div>
</section>