<div class="container mt-5">
    <div class="row">
        <div class="col-lg-8">
            <!-- Post content-->
            <article>
                <!-- Post header-->
                <header class="mb-4">
                    <h1 class="fw-bolder mb-1">Bienvenido a Twitter!</h1>
            </article>
            <p>Esta es una aplicación web donde puedes compartir tus pensamientos, opiniones y experiencias con el mundo.</p>
        </div>        
    </div>
    <div class="row">
        <!-- Side widgets-->
        <div class="col-lg-4">
            <!-- Categories widget-->
            <div class="card mb-4">
                <div class="card-header">Tweets</div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-6">
                            <ul class="list-unstyled mb-0">
                                <li><a href="/tweets">Todos los tweets</a></li>
                                <li><a href="/tweets/new">Crear Tweet</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

                